<h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p>

 <%= form_for(@lists) do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %><br></p>
  <%= f.submit %>
<% end %>
<p>
<%= link_to "Back to list", lists_path %>
